@import url("header.css");

*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
    background-color: rgb(18, 2, 40);
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.intro{
    width: 100%;
    height: calc(100vh - 4rem);
    color: white;
}
.intro h1{
    font-size: 62px;
}
.intro p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
    text-align: center;
}
.intro a{
    text-align: center;
}
.intro>.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: calc(100% - 20px);
    margin: auto;
}
#video {
    margin: auto;
    position:relative;
    height: calc(100% + 20px);;
    width: 100%;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 0;
    z-index: -1;
    object-fit:cover;
    opacity: 30%;
}
.btn-hero{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn-hero:hover{
    border: 1px solid #6D41A1;
    background:#6D41A1;
    transition: 1s;
}

nav .fa-solid{
    display: none;
}

@media(max-width: 700px){
    header{
        position: relative;
    }
    .univers h1{
        font-size: 20px;
    }
    nav{
        display: flex;
        padding: 0;
        justify-content: space-between;
    }
    nav img{
        width: 100px;
        margin-bottom: -25px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links ul li a{
        color: white;
        font-weight:400;
        text-decoration: none;
        font-size: 15px;
    }
    .nav-links{
        position: absolute;
        background: #460C68;
        border-left: solid 1px black;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa-bars{
        margin-left: auto;
    }
    nav .fa-solid{
        display: block;
        color: rgb(255, 255, 255);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}

/*--- expo ---*/
.expo{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-color:rgb(18, 2, 40);
    height: calc(100vh - 10rem);
}
.expo h1{
    font-size: 36px;
    font-weight: 700;
    color: white;
}
.expo p{
    color: lightgrey;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
    margin: 10px 0 40px;
    color: lightgrey;
    text-align: center;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.expo-colonne{
    background: rgba(51, 20, 87, 0.451);
    margin-bottom: 3rem;
    border-radius: 1rem;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    width: 32%;
    text-decoration: none;
}
.expo-colonne h3{
    text-align: center;
    font-weight: 400;

    color: white;
    margin: 10px 0;
    margin-bottom: 2.5vh;
}
.expo-colonne:hover{
    box-shadow: 0 0 20px 0px rgba(163, 83, 255, 2);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*--- collab ---*/
.collab{
    width: 100%;
    margin-top: -25vh;
    color: white;
}
.collab h1{
    font-size: 36px;
}
.collab p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
    text-align: center;
}
.collab a{
    text-align: center;
}
.collab>.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: calc(100% - 20px);
    margin: auto;
}

/*--- recommendation ---*/
.recommendation{
    width: 100%;
    margin-top: 5vh;
    color: white;
}
.recommendation h1{
    font-size: 36px;
}
.recommendation p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
    text-align: center;
}
.recommendation a{
    text-align: center;
}
.recommendation>.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: calc(100% - 20px);
    margin: auto;
}