@import url("default.css");

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.intro{
    width: 100%;
    height: calc(100vh - 4rem);
    color: white;
}
.intro h1{
    font-size: 62px;
}
.intro p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
    text-align: center;
}
.intro a{
    text-align: center;
}
.intro>.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: calc(100% - 20px);
    margin: auto;
}
#video {
    margin: auto;
    position:relative;
    height: calc(100% + 20px);;
    width: 100%;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 0;
    z-index: -1;
    object-fit:cover;
    opacity: 30%;
}
.btn-hero{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn-hero:hover{
    border: 1px solid #6D41A1;
    background:#6D41A1;
    transition: 1s;
}
.btn-hero2{
    position: relative;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: black;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 20px;
}
.btn-hero2::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 190%;
    background: linear-gradient(#00ccff, #b100d4);
    animation: animate 4s linear infinite;
}
.btn-hero2::after{
    content: '';
    position: absolute;
    inset: 4px;
    background: black;
    border-radius: 16px;
}
@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.btn-hero2 p{
    position: relative;
    color: white;
    font-size: 13px;
    z-index: 10;
    margin: 0 5px;
}

/*--- expo ---*/
.expo{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-color:rgb(18, 2, 40);
    height: calc(100vh - 10rem);
}
.expo h1{
    font-size: 36px;
    font-weight: 700;
    color: white;
}
.expo p{
    color: lightgrey;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
    margin: 10px 0 40px;
    color: lightgrey;
    text-align: center;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.expo-colonne{
    background: rgba(51, 20, 87, 0.451);
    margin-bottom: 3rem;
    border-radius: 1rem;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    width: 32%;
    text-decoration: none;
}
.expo-colonne h3{
    text-align: center;
    font-weight: 400;

    color: white;
    margin: 10px 0;
    margin-bottom: 2.5vh;
}
.expo-colonne:hover{
    box-shadow: 0 0 20px 0px rgba(163, 83, 255);
    animation: pulse 1.3s infinite;
}
@keyframes pulse{
    to {
        box-shadow: 0 0 20px 18px rgba(163, 83, 255, 0.01);
    }
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*--- collab ---*/
.collab{
    width: 100%;
    margin-top: -25vh;
    color: white;
}
.collab h1{
    font-size: 36px;
}
.collab>p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
    text-align: center;
}
.collab a{
    text-align: center;
}
.collab>.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: calc(100% - 20px);
    margin: auto;
}

/*--- recommandation ---*/
.recommandation{
    width: 100%;
    margin-top: 20vh;
    color: white;
    margin-bottom: 40px;
}
.recommandation h1{
    font-size: 36px;
}
.recommandation>p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: lightgrey;
    text-align: center;
}
.recommandation a{
    text-align: center;
}
.recommandation>.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: calc(100% - 20px);
    margin: auto;
}
