header{
    width: 100%;
    background-color: rgb(113, 87, 150);
    background-position: center;
    background-size: cover;
    position: sticky;
    top: 0;
    z-index: 99999;
}
header .selected {
    text-transform: uppercase;
}
header .selected::after {
    width: 100% !important;
}
nav{
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgb(9, 1, 20);
    height: 4rem;
}
nav img{
    width: 60px;
}
.nav-links{
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 29px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    font-weight:400;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li a::after{
    content:'';
    width: 0%;
    height: 2px;
    background:#6D41A1;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li a:hover::after{
    width: 100%;
}