@import url("default.css");

aside {
    display: flex;
    background-color: rgb(9, 1, 20);
    justify-content: center;
    border-radius: 1rem 1rem 0 0;
    margin-top: 1rem;
    width: 80%;
}
aside>.entry {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    order: 0;
    margin: 0.5rem 0.5rem;
    z-index: 0;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 70%;
    transition: 0.3s;
    cursor: pointer;
}

aside>.entry:hover {
    opacity: 100%;
    transition: 0.3s;
}

aside>.entry p {
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    opacity: 0%;
    color: white;
    transition: 0.3s;
    text-align: center;
    vertical-align: middle;
    margin:0;
    margin-top: 0.5rem;
    padding: 0;
    font-family: Righteous;
    line-height: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
}

aside>.entry:hover p {
    opacity: 100%;
    transition: 0.3s;
    margin:0;
    margin-top: 0.1rem;
    padding: 0;
    pointer-events: none;
}

@keyframes border {
    0%   {box-shadow: none;}
    99%  {box-shadow: none;}
    100% {box-shadow: inset 0 0 4px 4px #6D41A1;}
}

aside>.entry.selected{
    z-index: 2;
    order:1;
    opacity: 100%;
    transition: 0.3s opacity;
    animation-name: border;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
    box-shadow: inset 0 0 0 4px #6D41A1;
}

main {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0 0 1rem 1rem;
}

.artist {
    transition: 0.3s;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    background-color: lightgrey;
}

.artist.selected {
    display: flex;
    opacity: 100%;
    transition: 0.3s;
    flex-direction: column;
    max-height: fit-content;
}

.artist>.content{
    display: flex;
    flex-direction: column;
}

main h1{
    margin: 1.5rem 2rem;
    border: solid 4px rgb(9, 1, 20);
    border-radius: 0.5rem;
    width: max-content;
    color: rgb(9, 1, 20);
    font-family: Righteous;
    padding: 0 1rem;
    font-size: 2rem;
}

main h2{
    border-bottom: solid 4px #6D41A1;
    margin: 0 2.5rem;
    font-family: Righteous;
    color:#6D41A1;
}

main p{
    color: #333;
    margin: 0.5rem 2.5rem;
    text-align: justify;
}

main {
    margin-bottom: 2rem;
    border-radius: 0 0 1rem 1rem;
}

.discography {
    column-gap: 1rem;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.discography>.album {
    width: calc(100px + 8vw);
    height: calc(100px + 8vw);
    margin-bottom: 1rem;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.discography>.album:hover::after {
    content: "";
    transition: 0.3s;
    background-color: rgba(0,0,0,1);
    position: absolute;
    width: calc(100px + 8vw);
    height: calc(100px + 8vw);
    opacity: 80%;
    z-index: 1;
}


.discography>.album:hover div {
    transition: 0.3s;
    opacity: 100%;
}

.discography>.album>div {
    transition: 0.3s;
    opacity: 0;
    text-align: center !important;
    color:white;
    z-index: 2;
    font-size: 1.3rem;
    text-decoration: none;
}

.discography>.album>.name {
    margin: 0 0.4rem;
    line-height: 1.3rem;
    color:rgb(144, 124, 172);
    font-weight: bold;
    font-family: Righteous
}

.discography>.album>.type {
    font-size: 1rem;
}

.songs>.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.songs {
    margin-bottom: 1rem;
}

.soundcloud {
    margin-bottom: 1rem;
}

@media(max-width: 1000px) and (min-width: 700px){
    aside>.entry {
        width: 10vw;
        height: 10vw;
        min-height: 4rem;
        min-width: 4rem;
        margin: 0.1rem 0.1rem;
    }
    aside>.entry>p {
        height: 100%;
        margin: 0 !important;
    }
    aside {
        position: sticky;
        border-radius: 0;
        padding: 0;
        border: none;
        top:4rem;
        z-index: 10;
    }
    main, aside {
        width: 90%;
        margin-top: 0;
    }
    main {
        margin-bottom: 0;
        border-radius: 0;
    }
    main h1 {
        font-size: min(7vw, 2rem);
        margin: 1rem auto;
    }
    .discography {
        width: 90%;
    }
}

@media(max-width: 700px){
    body {
        background-color: rgb(9, 1, 20);
    }

    aside>.entry {
        width: 4rem;
        height: 4rem;
        min-height: 4rem;
        min-width: 4rem;
        margin: 0 0.1rem;
    }

    aside {
        position: sticky;
        border-radius: 0;
        padding: 0;
        border: none;
        top: 0;
        z-index: 9999999;
        width: auto;
    }

    main h1 {
        font-size: min(7vw, 2rem);
        margin: 1rem auto;
    }

    main h2 {
        margin: 0rem 1.5rem;
    }

    main p {
        margin: 0.5rem 1.5rem;
    }

    main {
        width: 100%;
        margin-top: 0;
        border-radius: 0;
        margin-bottom: 0;
    }

    .discography {
        width: 90%;
    }

    .soundcloud {
        width: 90%;
    }
}