@import url("accueil.css");

.recommendations {
    margin: auto;
    margin-top: 1rem;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.selector {
    display: flex;
    background-color: rgb(9, 1, 20);
    padding: 5px;
    justify-content: space-evenly;
}

.selector>.entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.selector img {
    border-radius: 50%;
    width: 110px;
    opacity: 70%;
    transition: 0.3s;
}

.selector>.entry:hover img {
    opacity: 100%;
    transition: 0.3s;
}

.selector>.entry p {
    opacity: 100%;
    color: lightgrey;
    transition: 0.3s;
}

.selector>.entry:hover p {
    opacity: 100%;
    color: white;
    transition: 0.3s;
}

.selector img:hover {
    cursor: pointer;
    transition: 0.3s;
    /* opacity: 100%; */
}

.selector>.entry.selected>img{
    opacity: 100%;
    transition: 0.3s;
}

.selector>.entry.selected>p {
    opacity: 100%;
    color:white;
}

.artist {
    transition: 0.3s;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    /* transform: scaleY(0); */
    background-color: lightgrey;
}

.artist.selected {
    display: flex;
    opacity: 100%;
    transition: 0.3s;
    flex-direction: column;
    max-height: fit-content;
    /* transform: scaleY(1); */
}

.artist>.content{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.recommendations h1{
    margin-left: 2rem;
    border-bottom: solid 4px rgb(113, 87, 150);
    width: max-content;
    margin-bottom: 2rem;
    color: white;
}

.recommendations h2{
    margin-left: 4rem;
}

.recommendations p{
    color: #333;
    margin: 0 2rem;
    text-align: justify;
}

.recommendations {
    margin-bottom: 2rem;
}

.soundcloud {
    margin-bottom: 1rem;
}

.songs>.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.songs {
    margin-bottom: 1rem;
}

.privacyPolicy {
    opacity: 0 !important;
}